.wrapper {
  overflow-x: scroll;
  display: block;
  width: 90vw;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.table {
  border-collapse: collapse;
}

.th {
  text-align: left;
}

.avatarWrapper {
  width: 40px;
}

.sprite {
  height: 40px;
  width: 40px;
}

.types {
  flex-direction: row;

  span {
    width: fit-content;
  }
}

@media (max-width: 600px) {
  .th,
  .td,
  .tr {
    font-size: 11px;
  }

  .avatarWrapper {
    width: 24px;
  }

  .sprite {
    height: 24px;
    width: 24px;
  }

  .types {
    flex-direction: column;
  }
}
