.wrapper {
  overflow-x: scroll;
  display: block;
  width: 90vw;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.table {
  border-collapse: collapse;
}

.th {
  text-align: left;
}

.td {
  padding-top: 12px;
  padding-bottom: 12px;

  &:not(:last-child) {
    padding-right: 20px;
  }
}

.sprite {
  height: 40px;
  width: 40px;
}

.types {
  flex-direction: row;

  span {
    width: fit-content;
  }
}

@media (max-width: 600px) {
  .th {
    font-size: 12px;
  }

  .td {
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;

    &:not(:last-child) {
      padding-right: 8px;
    }
  }

  .sprite {
    height: 24px;
    width: 24px;
  }

  .types {
    flex-direction: column;
  }
}
