.pokemonDetail__container {
  padding: 80px 0;
}

.pokemonDetail__sprite {
  height: 360px;
  width: 360px;
}

.pokemonDetail__flavorText {
  width: 35vw;
  max-width: 500px;
}

.pokemonDetail__miscInfo dl dt.rt-DataListLabel {
  min-width: 64px;
}

.rt-DataListRoot:where(.rt-r-orientation-horizontal) :where(.rt-DataListLabel) {
  min-width: 88px;
}

.rt-DataListLabel:before,
.rt-DataListValue:before {
  display: none;
}

.pokemonDetail__genderRate,
.pokemonDetail__ev {
  flex-direction: column;
}

@media (max-width: 767px) {
  .pokemonDetail__container {
    padding-top: 64px;
  }

  .pokemonDetail__sprite {
    height: 280px;
    width: 280px;
  }

  .pokemonDetail__flavorText {
    width: 80vw;
    max-width: 500px;
  }
}
