.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.sprite {
  height: 400px;
  width: 400px;
}

@media (max-width: 600px) {
  .sprite {
    height: 200px;
    width: 200px;
  }
}
