$background: #111113;
$foreground: #ededed;

div.radix-themes.dark {
  --default-font-family: var(--font-ubuntu-sans);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  color: $foreground;
  background: $background;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: 0.8;
  }
}
